// Homes.com Widgets

.commute-time-widget{
	overflow: hidden;
}
.commute-time-widget::before,
.commute-time-widget::after {
	content: '';
	display: table;
	width:100%;
}
.commute-time-widget h1 {
	font-weight:400;
	font-size: 17px;
	line-height: 20px;
	margin: .3em 0 .7em;
}
.commute-time-widget .commute-time-frame {
	border:0;
	border-bottom: 1px solid #eeeae9;
	margin: 0 0 .5em;
	overflow: hidden;
	height: 200px;
}
.commute-time-widget a {
	font-weight: 700;
	color: #0054a0;
	text-decoration: none;
	font-size: .75em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.commute-time-widget a:hover {
	text-decoration: underline;
}
.commute-time-widget .logo {
	background: transparent url(http://cdn1.static-homes.com/media/portalimgcache/widget/builder/logo-widget.png) 0 0 no-repeat;
	width: 139px;
	height: 22px;
	overflow: hidden;
	direction: ltr;
	text-indent: -3000px;
	float: right;
}
.commute-time-widget .footer a {
	margin: 0;
}
.commute-time-widget .footer .link {
	max-width: 50%;
	display: block;
}
