// Zillow Widgets

.zillow-mortage-rate-table {
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	text-transform:none;
	line-height:normal;
}
.zillow-mortage-rate-table .header-labels {
	margin:5px 0 1px;
}
.zillow-mortage-rate-table .current-label {
	padding-left:137px;
}
.zillow-mortage-rate-table .lastweek-label {
	padding-left:23px;
}
.zillow-mortage-rate-table .rate-label-row {
	box-sizing:content-box;
	height:29px;
	border-bottom:1px solid #ccc;
}
.zillow-mortage-rate-table .rate-labels-wrapper {
	box-sizing:content-box;
	width:50%;
	float:left;
}
.zillow-mortage-rate-table .rate-label {
	box-sizing:content-box;
	padding:9px 0 0 8px;
	text-align:left;
}

.zillow-newest-forsale-widget-container {
	width: 298px;
	height: 180px;
	background-color: #eff3ff;
	overflow: hidden;
	text-align: center;
	border: 1px solid #adcfff;
	margin-bottom: 1.5em;
}
.zillow-newest-forsale-widget-container h5 {
	font-size: 9px;
	text-align: center;
	color: #3366bb;
	margin-top: 8px;
}

.zillow-lg-search-iframe {
	max-width: none;
}
.zillow-large-search-box-widget-container {
	width: 432px;
	overflow: hidden;
	background-color: #e7f1fd;
	border: 1px solid #adcfff;
	margin-bottom: 1.5em;
}
.zillow-large-search-box-widget-container h2 {
	color: #d61;
	font-size: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}
