// Zillow Widgets

.zillow-mortage-rate-table {
	overflow:hidden;
	text-align:center;
	margin:0 auto;
	text-transform:none;
	line-height:normal;
}
.zillow-mortage-rate-table .header-labels {
	margin:5px 0 1px;
}
.zillow-mortage-rate-table .current-label {
	padding-left:137px;
}
.zillow-mortage-rate-table .lastweek-label {
	padding-left:23px;
}
.zillow-mortage-rate-table .rate-label-row {
	box-sizing:content-box;
	height:29px;
	border-bottom:1px solid #ccc;
}
.zillow-mortage-rate-table .rate-labels-wrapper {
	box-sizing:content-box;
	width:50%;
	float:left;
}
.zillow-mortage-rate-table .rate-label {
	box-sizing:content-box;
	padding:9px 0 0 8px;
	text-align:left;
}

.zillow-listings-widget-container {
	background-color: #e7f1fd;
	overflow: hidden;
	text-align: center;
	border: 1px solid #adcfff;
	margin-bottom: 1.5em;
}

.zillow-nfs-widget-container {
	width: 298px;
	height: 210px;
	iframe {
		margin-bottom: 0;
	}
}

.zillow-listings-widget-container h5 {
	font-size: 9px;
	text-align: center;
	color: #3366bb;
	margin-top: 8px;
	margin-bottom: 8px;
}

.zillow-meh-widget-container {
	width: 198px;
	height: 230px;
	padding: 0 8px;
	img {
		margin-top: 6px;
	}
	iframe {
		position: absolute;
		right: 0px;
		left: 35px;
	}
}

.zillow-meh-outer {
	background-color: #fff;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  border: 1px solid #ADCFFF;
	height: 140px;
	padding: 10px 20px;
}

.zillow-lg-search-iframe {
	max-width: none;
}
.zillow-large-search-box-widget-container {
	width: 432px;
	overflow: hidden;
	background-color: #e7f1fd;
	border: 1px solid #adcfff;
	margin-bottom: 1.5em;
}
.zillow-large-search-box-widget-container h2 {
	color: #d61;
	font-size: 20px;
	float: left;
	margin-left: 10px;
	margin-top: 5px;
}

// Homes.com Widgets

.homes-widget a.logo,
.homes-widget a.logo:hover {
	box-shadow: none!important;
}

.commute-time-widget,
.featured-listings-widget,
.home-values-widget,
.medium-search-widget,
.mortgage-calculator-widget,
.simple-search-widget,
.tall-search-widget {
	overflow: hidden;
}

.commute-time-widget::before,
.commute-time-widget::after,
.featured-listings-widget::before,
.featured-listings-widget::after,
.home-values-widget::before,
.home-values-widget::after,
.medium-search-widget::before,
.medium-search-widget::after,
.mortgage-calculator-widget::before,
.mortgage-calculator-widget::after,
.simple-search-widget::before,
.simple-search-widget::after,
.tall-search-widget::before,
.tall-search-widget::after {
	content: '';
	display: table;
	width:100%;
	clear:both;
}

.featured-listings-widget h1,
.medium-search-widget h1,
.mortgage-calculator-widget h1,
.simple-search-widget h1,
.tall-search-widget h1 {
  margin: 0;
  font-size: 24px;
  line-height: 1em;
  font-weight: 700;
}

.homes-iframe {
	border:0;
	border-bottom: 1px solid #eeeae9;
	margin: 0 0 .5em;
	overflow: hidden;
}

.homes-widget a {
	font-weight: 700;
	color: #0054a0;
	text-decoration: none;
	font-size: .75em;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.homes-widget .logo {
	background: transparent url(http://cdn1.static-homes.com/media/portalimgcache/widget/builder/logo-widget.png) 0 0 no-repeat;
	width: 139px;
	height: 22px;
	overflow: hidden;
	direction: ltr;
	text-indent: -3000px;
	float: left;
}

.commute-time-widget .commute-time-frame {
	height: 200px;
}

.featured-listings-widget .featured-listings-frame {
  height: 240px;
}

.home-values-widget .home-values-frame {
	height: 320px;
	margin-top: 1em;
}

.medium-search-widget .medium-search-frame {
	height: 220px;
}

.mortgage-calculator-widget .mortgage-calculator-frame {
	height: 500px;
}

.simple-search-widget .simple-search-frame {
	height: 130px;
}

.tall-search-widget .tall-search-frame {
	height: 400px;
	border: 0;
}

.commute-time-widget h1 {
	font-weight:400;
	font-size: 17px;
	line-height: 20px;
	margin: .3em 0 .7em;
}

.home-values-widget h1 {
	margin:0;
	font-size:24px;
	line-height:1em;
	font-weight:700;
	text-align:center;
}

.mortgage-calculator-widget h1 {
	text-align:center;
}

.tall-search-widget h1 {
	margin-top:110px;
	margin-bottom: 12px;
	line-height: 1.1em;
	margin-left:15px;
	margin-right:15px;
}

.mortgage-calculator-widget .logo {
	margin:1em auto;
	display:block;
	float:none;
}

.tall-search-widget .logo {
	float: none;
	margin-bottom: 0;
	height:40px;
}

.tall-search-widget {
	padding:0;
	width:160px;
	border: 1px solid black;
}

.tall-search-widget a {
	display: block;
	max-width: 160px;
	margin: 0 12px .5em;
	text-align: center;
	white-space: normal;
}


// HomeFinder.com Widgets

.homefinder-widget a,
.homefinder-widget a:hover {
	box-shadow: none!important;
	color: #3183A6;
}

.homefinder-adveritser-directory-widget {
	font-size: 15px;
	.secondaryName,
	.phoneNumber,
	.agentWebsiteUrl,
	.agentListingsUrl {
		font-size: 13px;
	}
}
